
<footer class="footer">
<a href="/">Go back; </a>
       this is the end of the page. 

<ul>
       
       <li><a href="https://twitter.com/Lauracsc_" target="_blank">Twitter</a>
       <li><a href="https://www.are.na/laura-sinisterra" target="_blank">Are.na</a>
       <li><a href="https://laurasinisterra.github.io/portfolio-site/" target="_blank">Portfolio</a>
       <li><a href="mailto:lauracsinisterra@gmail.com">Contact</li>
</ul>
</footer>