
{% macro header(title) %}
  <header class="title">
    <h1>{{ title }}</h1>
  </header>
{% endmacro %}


    <div class="nav">
      <nav>
        <ul>
          <li><a href="{{ '/visual' | url }}">Visual</a>
          </li>
          <li><a href="{{ '/web' | url }}">Web</a>
          </li>
        </ul>
        </nav>
          <ul>
        <li><a href="{{ 'posts/About' | url }}">About</a></li>
        </ul>
        "{{ '/About' | url }}"
        
    <a href="{{ '/' | url }}"><img src="/assets/styles/img/icon.png" alt=""/></a>

    </div>

    
