
{% macro header(title) %}
  <header class="title">
    <h1>{{ title }}</h1>
  </header>
{% endmacro %}


    <div class="nav">
      <nav>
        <ul>
          <li><a href="/visual">Visual</a>
          </li>
          <li><a href="/web">Web</a>
          </li>
        </ul>
        </nav>
          <ul>
        <li><a href="/posts/about">About</a></li>
        </ul>
        
    <a href="/"><img src="/assets/styles/img/icon.png" alt=""/></a>

    </div>

    