---
layout: layouts/base.njk
---


<ul>
{% for post in collections.textile %}

<section class= "list">
   <a href="{{ post.url | url }}">
        <li class="innerlist">
            <h3>{{ post.data.title }}</h3>
            <h3>{{ post.data.date }}</h3>
        </li>
    </a>
</section>

{% endfor %}
</ul>
